
.wrapper * {
    font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","STHeitiSC-Light","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.wrapper{
    width:290px;
    height: 440px;
    background-color: #2F373D;
    border-radius: 2px;
    overflow: hidden;
}

.blur {
    -webkit-filter: blur(10px);
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);
            filter: blur(10px);
}

#detail-head{
    position: relative;
    height: 210px;
    overflow: hidden;
}

#detail-head-backgound{
    height: 210px;
    width: 100%;
    background-image: url(../s28343125.jpg);
    background-position:center;
    position: absolute;
    z-index: 1;
}

#detail-mask{
    height: 220px;
    position:absolute;
    top: 0px;
    z-index: 10;
    width: 100%;
    opacity: 0.4;
    background-color: black;
}

#detail-pic{
    left: 20px;
    height: 160px;
    width: 110px;
    background-color: #fff;
    position: absolute;
    z-index: 20;
    top:25px;
    box-shadow: 0px 2px 7px #272727;
}


#detail-info{
    height: 160px;
    width: 130px;
    position: absolute;
    right: 10px;
    top: 25px;
    z-index: 20;
    font-size: 12px;
    color: #fff;
    padding-top: 5px;
}

#detail-info > ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#detail-info > ul > li{
    margin-bottom: 8px;
    width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 0px 2px 2px #333333;
}
